.line {
  height: 1px;
  position: relative;
}

.line svg {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -250px;
}

.line svg path {
  stroke-width: 1px;
  fill: none;
}

.line .box {
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.line .box:hover {
  height: 100px;
}
